# Auth
BETTER_AUTH_SECRET="Seu-better-auth-secret"
BETTER_AUTH_URL="Url-da-sua-api"

# DB
DATABASE_URL="Sua-database-url"

# Google
GOOGLE_CLIENT_ID="Seu-google-client-id"
GOOGLE_CLIENT_SECRET="Seu-google-client-secret"

# Resend
RESEND_API_KEY="Seu-resend-api-key"

#API
PORT="A-porta-da-sua-aplicação"